<div class="landing">
     <div class="search inner-width-neon">
        <form id="movie-form" method="POST" action="/search/1">
          <div class="input-group">
            <label for="movie-search"></label>
            <input
              type="text"
              id="search"
              name="movie-search"
              class="form-control"
              placeholder="SEARCH BY TITLE"
              
            />
            <button
              type="submit"
              value="Submit"
              class="btn btn-search"
            >
              
            </button>
            </div>
        </form>    
    </div>
    <div class="recommendations inner-width-neon">
        <a href="/recommendations" id="recommendations">RECOMMENDATIONS</a>
    </div>
   
    <div class="watchlist inner-width-neon">
        <a href="/mymovies" id="watchlist">MY MOVIES</a>
    </div>
    <div class="trending inner-width-neon">
        <a href="/trending" id="trending">TRENDING</a>
    </div>
  
</div>