<div class="landing">
    <div class="suggestions">
        <span>recommendations</span>
        <a href="/recommendations">more...</a>
    </div>
    <div class="watchlist">
        <span>watchlist</span>
        <a href="#">more...</a>
    </div>
    <div class="trending">
        <span>trending</span>
        <a href="#">more...</a>
    </div>
</div>