<div class="landing">
    <div class="suggestions">
        <span>suggestions</span>
    </div>
    <div class="watchlist">
        <span>watchlist</span>
    </div>
    <div class="trending">
        <span>trending</span>
    </div>
</div>