<nav
      class="navbar navbar-expand fixed-top"
    >
      <div class="container-fluid">
       

      <div class="mymoviesapp inner-width-neon" >
         <a class="navbar-brand" href="/"
          ><i class="fas fa-film landing" style="
    transform: translateY(1px)"></i
        ></a>
        <a href="/" id="mymoviesapp">MOVIE JOURNAL APP</a>
    </div>
      </div>
    </nav>