<%- include('./partials/header-landing') %>

    <div class="main-view">
      
      <%- include('./partials/landing') %>

      <div class="movie-card"></div>
      <div class="movie-pagination"></div>
      <div class="movie-results"></div>
    </div>

  </body>
</html>
